<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<style>
    card {
        border-radius: 16px;
    }

    h1, p, a, label {
        color: #1b1e21;
    }

    body, html {
        background-color: #000;
        color: #fff;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: fixed;
    }

    canvas {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0
    }
</style>
<style>
    .card {
        border-radius: 16px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
        integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>

{% extends 'wrapper.html' %}
{% block container %}
    <main class="container mt-5 ">
        <canvas id="bgCanvas"></canvas>
        <section data-aos="zoom-in" class="area col-8 col-lg-4 offset-2 offset-lg-4 card">
            <div class="row">
                <div class="mx-5">
                    <form class="form-signin pt-2 " method="post">
                        {% csrf_token %}
                        <div class="text-center mt-5 b-1">

                            <h1 class="h3 mb-3 font-weight-normal">Джуманджи</h1>
                            <p class="h5 font-weight-light">Войдите, чтобы управлять</p>
                        </div>
                        <div class="mt-5 form-label-group">
                            <input type="text" name="username" placeholder="Логин" maxlength="150" autofocus
                                   required
                                   id="id_username" class="form-control">
                            <label for="inputLogin"></label>
                        </div>
                        <div class="form-label-group ">

                            <input type="password" name="password" placeholder="Пароль" autocomplete="new-password"
                                   required id="id_password" class="form-control">
                            <label for="inputPassword"></label>
                        </div>
                        <div class="checkbox mb-3"></div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>
                    </form>
                    <div class="mt-4 text-center"><p>Нет аккаунта? <a href="/register">Зарегистрируйтесь!</a></p>
                    </div>
                    <div class="mt-4 text-center">
                        {% for message in messages %}
                            <p id="messages">{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}